extends ../layouts/common
block content
    h1 Login
    if erorrs 
        each erorr in erorrs 
            .alert.alert-danger= erorr 

    form(action="/login",method="POST")
        .form-group
        label(for="Email") Email
        input#Email.form-control(type="text",name ="email", value=values ? values.email : "")

        .form-group
        label(for="pass") Pass
        input#pass.form-control(type="text",name ="pass",value=values ? values.pass : "")


        button.btn.btn-danger.mt-2 Login